{% extends 'base.html.twig' %}

{% block title %}Sylove - Mes ingredients{% endblock %}

{% block body %}

    <div class="container mt-5 ">
        {% if not ingredients.items is same as {} %}
 
            <h1 class ="d-flex justify-content-center mt-5"> Mes ingredients</h1>

            <div class="count d-flex justify-content-center">
               <h4> Il y a au total {{ingredients.getTotalItemCount }} ingrédients </h4>
            </div> 

            <a href = {{ path('ingredient.new') }} class = 'btn btn-primary'>Créer un ingrédient</a>  
            


                {% for message in app.flashes('success') %}
                 <div class = 'alert alert-success mt-4'>
                  {{message}}
                 </div> 
               {% endfor %}     
            <table class="table table-hover m-4">
                    <thead>
                        <tr>
                            <th scope="col">Numero</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prix</th>
                            <th >Date de création</th>
                            <th scope="col">Edition</th>
                            <th scope="col">Supression</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in ingredients %}
                            <tr class="table-primary">
                                <th scope="row"> {{ingredient.id}}</th>
                                <th>{{ingredient.name}}</th>
                                <th>{{ingredient.price}}</th>
                                <th>{{ingredient.createdAt | date('d/m/Y')}} </th>
                                <th>
                                <a href = "{{path('ingredient.edit', {id: ingredient.id } )}}" class="btn btn-info">Editer</a>
                                </th>
                                <th>
                                <a href = "{{path('ingredient.delete', {id: ingredient.id } )}}" class="btn btn-danger">Suprimer</a>
                                </th>

                            </tr>
                        {% endfor %}
                    </tbody>
            </table> 
            <div class="navigation d-flex justify-content-center mt-4">
            {{knp_pagination_render(ingredients) }}
            </div>  
        {% else %} 
            <h4> Il y a pas d'ingrédients </h4>      
        {% endif %}

    </div>

{% endblock %}
