{% extends 'base.html.twig' %}

{% block title %}Sylove | {{recipe.name}} {% endblock %}


{% block body %} 
    <div class="container mt-4">
               
        <h1 class="display-4 mt-5" >{{ recipe.name }}</h1>
        {% for message in app.flashes('success') %}
                 <div class = 'alert alert-success mt-4'>
                  {{message}}
                 </div> 
         {% endfor %}
        {#
        <div class=" recipe_image"> 
          <img style"max-width: 500px" src="{{ vich_uploader_asset(recipe, 'imageFile')}}">
        </div> 
          {# affiche tout le formulaire d'un coup 
                   {{ form(form) }}   #}
       <p> <span class= " badge bg-secondary">La moyenne de cette recette est de {{recipe.average|number_format(2, ',', '.') }}/5 </span></p>

         
       <p> <span class= " badge bg-primary">Ajouter le {{recipe.createdAt|date('d/m/Y') }} </span></p>

        <div class = "mt-4">
          {% if recipe.time  %}
            <p><h6>Temps (en minute) :  {{ recipe.time }} </h6> </p>
          {% else %}
            <p><h6> Temps non renseigné </h6> </p>
          {% endif %}
        </div> 

        <div class = "mt-4">
          {% if recipe.nbPeople  %}
            <p> <h6> Pour {{ recipe.nbPeople }} personnes </h6> </p>
          {% else %}
            <p> <h6> Nombre de personnes non renseigné </h6> </p>
          {% endif %}
        </div> 

        <div class = "mt-4">

          {% if recipe.difficulty  %}
          <p><h6> Difficulté :  {{ recipe.difficulty }} /5 </h6> </p>
          {% else %}
            <p><h6> Difficulté non renseigné </h6></p>
          {% endif %}
        </div> 

        <div class = "mt-4">
          {% if recipe.price  %}
          <p><h6>Prix (en $) :  {{ recipe.price }} </h6></p>  
          {% else %}
            <p><h6>Prix non renseigné</h6></p>
          {% endif %}
        </div> 

        <div class = "mt-4">
            <h6> Description : {{ recipe.description|raw }}</h6>
        </div>

        <hr> 
        <div> 
            <h6> INGREDIENTS</h6>
            {% for ingredient in recipe.ingredients %}            
            <span class= "badge bg-danger">{{ingredient.name }} </span>   
            {% endfor %}
        </div> 
        <div class="mark">
             {{ form(form) }}
        </div> 
    </div> 
{% endblock body %} 
